body { 
  font-family: "Segoe UI", sans-serif; 
  background:#EEEEEE; 
  color: white;
}
main {
  max-width: 500px;
  margin: 50px auto;
  background:#FF00FF;
  padding:32px;
  border-radius:8px;
}
.right {
text-align: right;
}
.topnav {
background-color: #333;
overflow: hidden;
padding: 14px 16px;
}

.topnav a {
float: left;
color: #EC3750;
text-align: center;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #EC3750;
color: black;
}

.topnav a.active {
background-color: #EC3750;
color: black;
}

 body {background-color: #111111;} 
/* body {background-color: #EEEEEE;} */
