body { 
  font-family: "Segoe UI", sans-serif; 
  background:#FFFBFA; 
  margin:5; 
}
main {
  max-width: 500px;
  margin: 50px auto;
  background:#FF00FF;
  padding:32px;
  border-radius:8px;
}
topnav {
background-color: #333;
overflow: hidden;
}

topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

topnav a:hover {
background-color: #ddd;
color: black;
}

topnav a.active {
background-color: #04AA6D;
color: white;
}
