body { 
  font-family: "Segoe UI", sans-serif; 
  background:#EEEEEE; 
  color: white;
}
main {
  max-width: 500px;
  margin: 50px auto;
  background:#FF00FF;
  padding:32px;
  border-radius:8px;
}
.right {
text-align: right;
}
.topnav {
background-color: #333;
overflow: hidden;
}
.centre {
text-align: center;
}
.rainbow {
  --bg-size: 400%;
  --color-one: white;
  --color-two: #EC3750;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  white-space: nowrap;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}


.topnav a {
float: left;
color: #EC3750;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #EC3750;
color: black;
}

.topnav a.active {
background-color: #EC3750;
color: black;
}

 body {background-color: #111111;} 

  "buttons": {
    color: #EC3750;
    "cursor": "pointer",
    "fontFamily": "inherit",
    "fontWeight": "bold",
    "borderRadius": "circle",
    "display": "inline-flex",
    "alignItems": "center",
    "justifyContent": "center",
    "boxShadow": "card",
    "letterSpacing": "headline",
    "WebkitTapHighlightColor": "transparent",
    "transition": "transform .125s ease-in-out, box-shadow .125s ease-in-out",
    ":focus,:hover": {
      "boxShadow": "elevated",
      "transform": "scale(1.0625)"
      }
